<!doctype html>
<!--[if IE 7]>  <html ng-app="store" class="no-js lt-ie10 lt-ie9 lt-ie8 ie7" lang="en"> <![endif]-->
<!--[if IE 8]>  <html ng-app="store" class="no-js lt-ie10 lt-ie9 ie8" lang="en"> <![endif]-->
<!--[if IE 9]>  <html ng-app="store" class="no-js lt-ie10 ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html ng-app="store"  class="no-js" lang="en"><!--<![endif]-->
<head>
    <title>MarcadoLivre Widget</title>
    <link rel="stylesheet" type="text/css" href="/dist/ui/chico.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0/angular.min.js"></script>
    <script src="app-angular.js"></script>
</head>
<body ng-controller="StoreController as store">
  <ul class="list-group">
    <li class="list-group-item ch-box" ng-repeat="product in store.products | orderBy:'+price' ">
      <h2>{{ product.name }}</h2>

      <picture>
        <img ng-src="{{ product.images[0].full }}" width="350" alt="image">
      </picture>

      <aside class="">
        <form action="#" class="ch-form myForm">
          <div class="ch-form-row">
            <h3>{{ product.price | currency}}</h3>
          </div>
          <fieldset>


            <div class="ch-form-row">
              <label  for="sltQtd">Quantity:</label>
              <select class="" id="sltQtd" name="sltQtd">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
                <option value="9">9</option>
                <option value="10">10</option>
              </select>
            </div>

            <div class="ch-form-row">
              <label for="sltPay">Payments:</label>
              <select class="" id="sltPay" name="sltPay">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
                <option value="9">9</option>
                <option value="10">10</option>
              </select>
            </div>

            <div class="ch-form-row buttons">

              <button ng-hide="product.soldOut" class="ch-btn"> Buy</button>
              <button ng-show="product.soldOut" class="ch-btn-disabled">Soud Out</button>

            </div>

          </fieldset>

          <fieldset>
            <legend>More Images</legend>
            <ul class="image-list ch-form-row">
              <li>
                <a href="#"><i class="ch-icon-caret-left ch-icon-x-large"></i></a>
              </li>
              <li  ng-repeat="image in  product.images ">
                <a href ng-click="" ><img ng-src="{{ image.thumb }}" alt="image" width="100"></a>
              </li>
              <li>
                <a href="#"><i class="ch-icon-caret-right ch-icon-x-large"></i></a>
              </li>
            </ul>
          </fieldset>
        </form>
      </aside>


      <section ng-controller="PanelController as panel" class="ch-tabs">
          <ul class="ch-tabs-triggers" >
              <li ng-class="{ active:panel.isSelected(1) }">
                  <a href ng-click="panel.selectTab(1)" class="ch-tab">Questions</a>
              </li>
              <li ng-class="{ active:panel.isSelected(2) }">
                  <a href ng-click="panel.selectTab(2)" class="ch-tab">Description</a>
              </li>

          </ul>
          <div class="ch-box-lite">
            <div class="panel" ng-show="panel.isSelected(2)">
                <h4>Description</h4>
                <p>{{ product.description }}</p>
            </div>

            <div class="panel" ng-show="panel.isSelected(1)">
                <h4>Reviews</h4>
                <blockquote ng-repeat="review in product.reviews">
                    <cite>{{ review.author }}</cite>
                    <p  class="ch-box-ok">
                      {{ review.body }}
                    </p>
                </blockquote>

                <form name="reviewForm" class="ch-form" ng-controller="ReviewController as reviewCtrl" ng-submit="reviewForm.$valid && reviewCtrl.addReview(product)" novalidate>
                    <blockquote >
                        <cite>{{ reviewCtrl.review.author }}</cite>
                        <p class="ch-box-info">
                          {{ reviewCtrl.review.body }}
                        </p>
                    </blockquote>

                    <fieldset class="form-group">
                      <label for="">Name:</label>
                      <input type="text" ng-model="reviewCtrl.review.author" placeholder="" required />
                    </fieldset>

                    <fieldset class="form-group">
                      <label for="">Question: </label>
                      <textarea ng-model="reviewCtrl.review.body" required></textarea>
                    </fieldset>


                    <div> reviewForm is {{ reviewForm.$valid }}</div>
                    <fieldset class="form-group">
                        <input type="submit" value="Submit" class="btn btn-default" >
                    </fieldset>
                </form>
            </div>
          </div>

      </section>
    </li>
  </ul>

  <script src="/bower_components/jquery/dist/jquery.js"></script>
  <script src="/dist/ui/chico.js"></script>
</body>
</html>
